.container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin: 5px;
}