.container {
  position: relative;
  white-space: nowrap;
  transition: background .3s ease;
  cursor: pointer;
}

.container:hover,.container:focus{
  background: rgb(209, 209, 209);
  transition: background .3s ease;
}

